<title>Acerca de </title>

<div class="container">
  <img src="/static/img/output-onlinejpgtools.png" class="rounded mx-auto d-block" alt="Responsive image">
<!-- ****************************************************************************************************************** -->


<div id="wrapper">
<div id="page" class="container">
<div id="content">
  <div class="title">
    <h2>Bienvenidos a nuestro sitio Web</h2>
    <span class="byline">Proyecto desarrollado en colaboración con el Tecnológico Nacional de México/Instituto Tecnológico de Tijuana.</span> </div>
  <p> Este proyecto es una plataformas digital la cual tiene como funcion de crear contratos de compra-venta unicamente ingresando los datos del comprador(es), vendedor(es), el objeto a comprar y el metodod de pago. Este proyecto se pudo realizar gracias a las herramientas de Node.Js y MongoDB.
  </p>

<div id="sidebar">
  <div id="stwo-col">
    <div class="sbox1">
      <h2>Ingenieria de Software 2020-1</h2>
      <ul class="style2">
        <li class="icon icon-ok"><a >Cortez Ortega Joel</a></li>
        <li class="icon icon-ok"><a >Brito Haro Malcolm Abraham</a></li>
        <li class="icon icon-ok"><a >Villanueva Mercado Daniel Alejandro</a></li>
        <li class="icon icon-ok"><a >Velarde Alvarez Luis Rafael</a></li>
        <li class="icon icon-ok"><a >Guzman Lugo Jose Antonio</a></li>
<li class="icon icon-ok"><a >Tamayo Lopez Edgar Uriel</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
