
<title>Nuevo Contrato</title>

<div class="Funcion">
	<h3>Nuevo Contrato <h3>
	<h2>Formato de contratos</h2>
	<p id = "instrucciones">Instrucciones: Ingresa los datos requeridos y da clic en siguiente</p>

 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  	<script src="https://kit.fontawesome.com/2f6670760e.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 <!--Seccion de campos-->
 <form action="/contrato" method="POST">

  <section class = "campos left">
	<section class = "parte1">

		<div class="row ml-3">
			<label for = "estado">Estado</label>
			<input class="ml-2" type = "text" name = "estado" id = "estado" value = "Baja California"   disabled>
		</div>
		<br>

		<div class="row ml-3" style="" id="container">
			<label for = "municipio">Municipio</label>
			<select class="ml-2" id = "municipio" name = "municipio">
				<option value = "tijuana">Tijuana</option>
				<option value = "tecate">Tecate</option>
				<option value = "mexicali">Mexicali</option>
				<option value = "rosarito">Rosarito</option>
				<option value = "ensenada">Ensenada</option>
			</select>
			<button type="button" class="Ayuda botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
    	<br>

		<div class="row ml-3"  id="container">
			<label for = "fecha">Fecha</label>
			<input class =  "camponecesario ml-2" type = "date" name = "fecha" id = "fecha" >
			<button type="button" class="Fecha1 botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
  <br><br>
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- --  Seccion del vendedor --  --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<section class = " vendedor Inputs1">
	<div class="row ">
    	<label for = "cantidad-de-vendedores">Cantidad de vendedores </label>
      	<input class="ml-2" type = "number"   name = "cantidaddevendedores" id = "cantidad-de-vendedores" value = "1" min = "1" max = "2" size = "3">
	</div>
	
    <!-- --><!-- -->
    <!-- --><!-- -->

     <section class = "vendedor1">
		 <hr>
		 <div class="row">
      <label for = "tipo-de-persona-vendedor1">Tipo de persona</label>
      <select id = "tipo-de-persona-vendedor1" name = "tipodepersonavendedor1" value ="fisica" class="ml-2" >
        <option value = "fisica">Fisica</option>
		<option value = "moral">Moral</option>
      </select>
      <button type="button" class="TPersona botonAyuda"><i class="fas fa-question-circle icono"></i></button>
	  	</div>
      <!-- -->
      <!-- -->
    <br>
      <section class = "VF1">
		<div class="row">
        <label for = "VF1nombre">Nombre</label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
          <input class =  "camponecesario uppercase ml-2" type = "text" name = "VF1nombre" id = "VF1-nombre"   onkeypress="return SoloLetras(event)" onpaste="return false">
        <br>
		</div>
		<div class="row">

			<label class =  "camponecesario" >Genero</label>
			<input type="radio" name="VF1genero" id="VF1-m" value="m" class="ml-2 mt-2" checked>
			<label for="VF1-m" class="ml-2">M</label>
			<input type="radio" name="VF1genero" id="VF1-h" value="h" class="ml-2 mt-2">
			<label for="VF1-h" class="ml-2">H</label>
		<br>
		</div>
		<div class="row">
		  	<label for = "VF1Direccion">Direccion</label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
         	<textarea rows="3" cols="40" class = "camponecesario ml-2" type = "text" name = "VF1Direccion" id = "VF1Direccion"  onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
			 
			<button type="button" class="DVendedor botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
      </section>
      <!-- --><!-- -->
      <!-- --><!-- -->
      <section class = "VM1">
		<div class="row">
			<label for = "VM1nombre">Nombre</label><!-- Onkeypress llama a la funcion SoloLetras-->
			<input class =  "camponecesario combrecomprador uppercase ml-2" type = "text" name = "VM1nombre"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "VM1-nombre" min = "3" max = "50"  >
			<br>
		</div>
		<div class="row">
			<label class =  "camponecesario" >Constituido mediante: </label>
		</div>
		<div class="row">
			<input class="ml-2 mt-2" type="radio" name="VM1creacion" id="VM1-escritura" value="escritura" checked>
			<label class="ml-2" for="escritura">Escritura</label>
			<input class="ml-2 mt-2" type="radio" name="VM1creacion" id="VM1-poliza" value="poliza">
			<label class="ml-2" for="VM1-poliza">Poliza      </label>
			<br>
		</div>
		<div class="row">
			<label for = "VM1-numero">Numero</label><!-- Onkeypress llama a la funcion SoloNumeros--> <!--onkeypress="return SoloNumeros(event)"-->
			<input class ="camponecesario ml-2" type ="number" name="VM1numero" onkeypress="return SoloNumeros(event)"  id ="VM1-numero"  >
			
		</div>
		<br>
		<div class="row">
			<label for = "VM1fecha">Fecha</label>
			<input class =  "camponecesario ml-2" type = "date" name = "VM1fecha" id = "VM1-fecha" >
			
		</div>
		<br>
		<div class="row">
			<label for = "VM1nombrerepresentante">Nombre del representante</label><!-- Onkeypress llama a la funcion SoloLetras-->
			<input  class =  "camponecesario uppercase ml-2" type = "text" name = "VM1nombrerepresentante"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "VM1-nombre-representante" min = "3" max = "50"  >
			
		</div>
		<br>
		<div class="row">
			<label for = "VM1Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
			<textarea rows="3" cols="42" class =  "camponecesario ml-2" type = "text" name = "VM1Direccion" id = "VM1Direccion" onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
		</div>
	   </section>
      
      <!-- -->
      <br>
     </section>
       <section class = "vendedor2">
		<hr>
		<div class="row">
			<label for = "tipo-de-persona-vendedor2">Tipo de persona</label>
			<select class="ml-2" id = "tipo-de-persona-vendedor2" name = "tipodepersonavendedor2" value ="Moral" >
				<option value = "fisica">Fisica</option>
				<option value = "moral">Moral</option>
			</select>
        	<button type="button" class="TPersona botonAyuda"><i class="fas fa-question-circle icono"></i></button>
			<br>
		</div>
      <!-- -->
      <!-- -->
      <br>
      <section class = "VF2">
		<div class="row">
			<label for = "VF2-nombre">Nombre</label><!-- Onkeypress llama a la funcion SoloLetras-->
			<input class =  "camponecesario uppercase" type = "text" name = "VF2nombre"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "VF2-nombre">
        </div>
		
		<div class="row">
        <label class =  "camponecesario" >Genero</label>
        <input class="ml-2 mt-2" type="radio" name="VF2genero" id="VF2-m" value="m" checked>
          <label class="ml-2" for="VF2-m">M</label>
        <input class="ml-2 mt-2" type="radio" name="VF2genero" id="VF2-h" value="h">
          <label ml-2 for="VF2-h">H</label>
		</div>
		<div class="row">
			<label for = "VF2Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
			<textarea rows="3" cols="40" class = "camponecesario ml-2" type = "text" name = "VF2Direccion" id = "VF2Direccion" min = "3" max = "50"   onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
			<button type="button" class="DVendedor botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
      </section>
      <!-- --><!-- -->
      <!-- --><!-- -->
      <section class = "VM2">
		  <div class="row">
			<label for = "VM2-nombre">Nombre</label><!-- Onkeypress llama a la funcion SoloLetras-->
			<input class =  "camponecesario combrecomprador uppercase ml-2" type = "text"  onkeypress="return SoloLetras(event)" onpaste="return false" name = "VM2nombre" id = "VM2-nombre" min = "3" max = "50" >
		</div>
		<div class="row">
        	<label class =  "camponecesario" >Constituido mediante: </label>
		</div>
		<div class="row">
			<input class="ml-2 mt-2" type="radio" name="creacion" id="VM2-escritura" value="escritura" checked>
				<label class="ml-2"  for="VM2-escritura">Escritura</label>
			<input class="ml-2 mt-2"  type="radio" name="creacion" id="VM2-poliza" value="poliza">
				<label class="ml-2" for="VM2-poliza">Poliza      </label>
		</div>
        <br>
		<div class="row">
        	<label for = "VM2-numero">Numero</label><!-- Onkeypress llama a la funcion SoloNumeros-->
          	<input class = "camponecesario ml-2" type = "text" name = "VM2numero" onkeypress="return SoloNumeros(event)" id = "VM2-numero" min = "5" max = "5"  >
        </div>
		<br>
		<div class="row">
			<label for = "VM2-fecha">Fecha</label>
			<input class =  "camponecesario ml-2" type = "date" name = "VM2fecha" id = "VM2-fecha" >
		</div>
        <br>
		<div class="row">
        <label for = "VM2-nombre-representante">Nombre del representante</label><!-- Onkeypress llama a la funcion SoloLetras-->
          <input class =  "camponecesario uppercase ml-2" type = "text" name = "VM2nombrerepresentante"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "VM2-nombre-representante" min = "3" max = "50" >
		</div>
		<br>
		<div class="row">
			<label for = "VM2Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
			<textarea rows="3" cols="42" class =  "camponecesario ml-2" type = "text" name = "VM2Direccion" id = "VM2Direccion" min = "3" max = "50"   onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
	   	</div>
	   </section>
			<br>
		<!-- -->
	 </section>

	</section>

	<br>
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- --  Seccion del comprador --  --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<section class = "comprador Inputs1">
	<!-- -->
	<div class="row">
		<label for = "cantidad-de-compradores">Cantidad de compradores</label>
		<input class="ml-2" type = "number" name = "cantidaddecompradores" id = "cantidad-de-compradores" value = "1" min = "1" max = "2" size = "3" >
	</div>
	<!--<select name = "cantidad-de-compradores" id = "cantidad-de-compradores">-->
	<hr>
	<!-- -->
	<!-- -->
	<section class = "comprador1">
	<!-- -->
		<div class="row">
			<label for = "tipo-de-persona-comprador1">Tipo de persona</label>
			<select class="ml-2" id = "tipo-de-persona-comprador1" name = "tipodepersonacomprador1">
				<option value = "fisica">Fisica</option>
				<option value = "moral">Moral</option>
			</select>
			<button type="button" class="TPersona botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
		<!-- -->
		<!-- -->
		<section class = "CM1">
			<br>
			<div class="row">
				<label for = "CM1-nombre">Nombre</label><!-- Onkeypress llama a la funcion SoloLetras-->
				<input class =  "camponecesario combrecomprador ml-2" type = "text" name = "CM1nombre"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "CM1-nombre" min = "3" max = "50"  >
				
			</div>
			<div class="row">
				<label class =  "camponecesario" >Constituido mediante: </label>
			</div>
			<div class="row">
				<input class="ml-2 mt-2" type="radio" name="CM1creacion" id="CM1-escritura" value="escritura" checked>
				<label class="ml-2" for="CM1-escritura">Escritura</label>
				<input class="ml-2 mt-2" type="radio" name="CM1creacion" id="CM1-poliza" value="poliza">
				<label class="ml-2" for="CM1-poliza">Poliza      </label>
			</div>
			<div class="row">
				<label for = "CM1-numero">Numero</label><!-- Onkeypress llama a la funcion SoloNumeros-->
				<input class =  "camponecesario ml-2" type = "text" name = "CM1numero" onkeypress="return SoloNumeros(event)" id = "CM1-numero" min = "5" max = "5" >
			</div>
			<br>
			<div class="row">
				<label for = "CM1-fecha">Fecha</label>
				<input class =  "camponecesario ml-2" type = "date" name = "CM1fecha" id = "CM1-fecha" >
			</div>
			<br>
			<div class="row">
				<label for = "CM1-nombre-representante">Nombre del representante</label><!-- Onkeypress llama a la funcion SoloLetras-->
				<input class =  "camponecesario ml-2" type = "text" name = "CM1nombrerepresentante"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "CM1-nombre-representante" min = "3" max = "50"  >
			</div>
			<br>
			<div class="row">
				<label for = "CM1Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
				<textarea rows="3" cols="42" class =  "camponecesario ml-2" type = "text" name = "CM1Direccion" id = "CM1Direccion" min = "3" max = "50"   onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
			</div>
		</section>
		<section class = "CF1">
			<br>
			<div class="row">
				<label for = "CF1-nombre">Nombre</label>
				<input class =  "camponecesario ml-2" type = "text"  onkeypress="return SoloLetras(event)" onpaste="return false" name = "CF1nombre" id = "CF1-nombre" min = "3" max = "50"  >
			</div>

			<div class="row">
				<label class ="camponecesario " >Sexo / Genero </label>
				<input class="ml-2 mt-2" type="radio" name="CF1genero" id="CF1-m" value="m" checked>
					<label class="ml-2" for="CF1-m">M</label>
				<input class="ml-2 mt-2"  type="radio" name="CF1genero" id="CF1-h" value="h">
					<label class="ml-2"  for="CF1-h">H</label>
			</div>
			<div class="row">
				<label for = "CF1Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
				<textarea rows="3" cols="40" class =  "camponecesario ml-2" type = "text" name = "CF1Direccion" id = "CF1Direccion" min = "3" max = "50"   onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
			</div>
		</section>
	</section>
	
	
	<section class = "comprador2">
		<hr>
		<div class="row">
			<label for = "tipo-de-persona-comprador2">Tipo de persona</label>
			<select class="ml-2" id = "tipo-de-persona-comprador2" name = "tipodepersonacomprador2">
				<option value = "fisica">Fisica</option>
				<option value = "moral">Moral</option>
			</select>
			<button type="button" class="TPersona botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
		<br>
		<!-- -->
		<!-- -->
		<section class = "CM2">
			<div class="row">
				<label for = "CM2-nombre">Nombre</label>
				<input class =  "camponecesario combrecomprador ml-2" type = "text" name = "CM2nombre"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "CM2-nombre" min = "3" max = "50"  >
			</div>
			<div class="row">
				<label class =  "camponecesario" >Constituido mediante: </label>
			</div>
			<div class="row">
				<input class="ml-2 mt-2" type="radio" name="CM2creacion" id="CM2-escritura" value="escritura" checked>
					<label class="ml-2" for="CM2-escritura">Escritura</label>
				<input class="ml-2 mt-2" type="radio" name="CM2creacion" id="CM2-poliza" value="poliza">
					<label class="ml-2" for="CM2-poliza">Poliza      </label>
			</div>
			<div class="row">
				<label for = "CM2-numero">Numero</label>
				<input class =  "camponecesario ml-2" type = "text" name = "CM2numero" onkeypress="return SoloNumeros(event)" id = "CM2-numero" min = "5" max = "5"  >
			</div>
			<br>
			<div class="row">
				<label for = "CM2-fecha">Fecha</label>
				<input class =  "camponecesario ml-2" type = "date" name = "CM2fecha" id = "CM2-fecha" >
			</div>
			<br>
			<div class="row">
				<label for = "CM2-nombre-representante">Nombre del representante</label>
				<input class =  "camponecesario ml-2" type = "text" name = "CM2nombrerepresentante"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "CM2-nombre-representante" min = "3" max = "50" >
				<br>
			</div>
			<br>
			<div class="row">
				<label for = "CM2Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
				<textarea rows="3" cols="42" class =  "camponecesario ml-2" type = "text" name = "CM2Direccion" id = "CM2Direccion"  onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
			</div>
		</section>
		<!-- -->
		<section class = "CF2">
			<div class="row">
				<label for = "CF2-nombre">Nombre</label>
				<input class =  "camponecesario ml-2" type = "text" name = "CF2nombre"  onkeypress="return SoloLetras(event)" onpaste="return false" id = "CF2-nombre" min = "3" max = "50"  >
			</div>
			<br>
			<div class="row">
				<label class =  "camponecesario" >Sexo / Genero ?</label>
					<input class="ml-2 mt-2" type="radio" name="CF2genero" id="CF2-m" value="m" checked>
					<label class="ml-2"  for="CF2-m">M</label>
					<input class="ml-2 mt-2"  type="radio" name="CF2genero" id="CF2-h" value="h">
					<label class="ml-2"  for="CF2-h">H</label>
			</div>
			<div class="row">
				<label for = "CF2Direccion">Direccion </label>                                                                                               <!-- Onkeypress llama a la funcion SoloLetras-->
				<textarea rows="3" cols="42" class =  "camponecesario" type = "text" name = "CF2Direccion" id = "CF2Direccion"  onkeypress="return SoloLetras(event)" onpaste="return false"></textarea>
		 	</div>
		 </section>
	</section>
	<br>
    </section>

	</section>
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- parte2--><!-- parte2--><!--parte2 --><!--parte2 --><!--parte2 --><!--parte2 --><!-- parte2--><!--parte2 --><!-- --><!-- --><!-- -->
	<!-- --><!-- parte2--><!-- parte2--><!--parte2 --><!--parte2 --><!--parte2 --><!--parte2 --><!-- parte2--><!--parte2 --><!-- --><!-- --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<section class = "parte2 ">
    	<div class="row">
			<label for = "Tipo-de-objeto">Compra/venta de: </label>
			<select class="ml-2" id = "Tipo-de-objeto" name = "Tipodeobjeto" value ="Veiculo" >
				<option value = "Veiculo">Vehiculo</option>
				<option value = "...">...</option>
				<option value = "...">...</option>
			</select>
			<button type="button" class="CVarticulo botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
		<br><br>

	<section class = "objetoVeiculo Inputs1">
		<div class="row">
			<label for="Vehiculo-Tipo">Tipo: </label>
			<input class="ml-2"  list="Vehiculos-Tipos" name="VehiculoTipo" id="Vehiculo-Tipo">

			<datalist id="Vehiculos-Tipos">
				<option value="Vagoneta">
				<option value="Motocicleta">
				<option value="...">
				<option value="...">
				<option value="...">
			</datalist>
			<button type="button" class="TAuto botonAyuda"><i class="fas fa-question-circle icono"></i></button>
		</div>
		<br>

		<!--
		<label for = "VeiculoTipo">Tipo: </label>
			<select id = "VeiculoTipo" name = "VeiculoTipo" value ="Veiculo" >
				<option value = "Vagoneta">Vagoneta</option>
				<option value = "Motocicleta">Motocicleta</option>
				<option value = "...">Otro</option>
			</select>
		<br>
		-->
		<div class="row">
			<label for="VehiculoMarca">Marca: </label>
			<input class="ml-2" list="Vehiculos-Marcas" name="VehiculoMarca" id="VehiculoMarca">

			<datalist id="Vehiculos-Marcas">
				<option value="Nissan">
				<option value="Toyota">
				<option value="Honda">
				<option value="...">
				<option value="...">
			</datalist>
			
		</div>
		<br>
		<!--
		<label for = "VehiculoMarca">Marca: </label>
			<select id = "VeiculoTipo" name = "VeiculoTipo" value ="Veiculo" >
				<option value = "Vagoneta">Nissan</option>
				<option value = "Motocicleta">Toyota</option>
				<option value = "...">Honda</option>
				<option value = "Otro">Otro</option>
			</select>
		<br>
		-->
		<div class="row">
			<label for = "VehiculoModelo">Modelo: </label>
			<input class =  "camponecesario ml-2" type = "text" name = "VehiculoModelo" id = "VehiculoModelo" min = "3" max = "50"  >
		</div>
		<br>
		<div class="row">
			<label for = "Numero-ID-Veicular">Numero de identificacion vehicular: </label>
			</div>
		<div class="row">
			<textarea rows="1" cols="50" class =  "camponecesario ml-2" type = "text" name = "NumeroIDVeicular" id = "Numero-ID-Veicular" min = "3" max = "500"  ></textarea>
		</div>
		<br>
		<div class="row">
			<label for = "Placas-de-circulacion">Placas de circulacion: </label>
			<input class = "camponecesario ml-2" type = "text" name = "Placasdecirculacion" id = "Placas-de-circulacion" >
		</div>
		<label class =  "camponecesario" >Placas </label>
				<input type="radio" name="placasNacOFront" id="placasNacionales" value="Nacionales" checked>
				<label for="placasNacionales"> Nacionales </label>

				<input type="radio" name="placasNacOFront" id="placasFronterizas" value="Fronterizas">
				<label for="placasFronterizas"> Fronterizas </label>
		<br><br>
		<div class="row">
			<label for = "VehiculoAdquiridoDe">Adquirido de: </label>
			<input class = "camponecesario ml-2" type = "text" name = "VehiculoAdquiridoDe" id = "VehiculoAdquiridoDe" min = "3" max = "500"  >
			<button type="button" class="Adquirido botonAyuda"><i class="fas fa-question-circle icono"></i></button>
      	</div>
		<br>
		<div class="row">

			<label for = "fechaAdquirido">En la fecha: </label>
				<input class =  "camponecesario ml-2" type = "date" name = "fechaAdquirido" id = "fechaAdquirido" >
				<button type="button" class="Fadquirido botonAyuda"><i class="fas fa-question-circle icono"></i></button>
      	</div>
		<br>
		<div class="row">
			<label for = "VehiculoDescripcion">Descripcion adicional: </label>
			<textarea rows="3" cols="42" class =  "camponecesario ml-2" type = "text" name = "VehiculoDescripcion" id = "VehiculoDescripcion" min = "3" max = "500"  ></textarea>
			
		</div>
	<br>
	</section>
	</section>
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- parte3--><!-- parte3--><!--parte3 --><!--parte3 --><!--parte3 --><!--parte3 --><!-- parte3--><!--parte3 --><!-- --><!-- --><!-- -->
	<!-- --><!-- parte3--><!-- parte3--><!--parte3 --><!--parte3 --><!--parte3 --><!--parte3 --><!-- parte3--><!--parte3 --><!-- --><!-- --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<section class = "parte3">
		<br>
		<div class="Inputs1">
			<div class="row">
				<label for = "TdeCirculacion">Documentos entregados: </label>
			</div>
			<br>
			
			<input type="checkbox" id="TdeCirculacion" name="TdeCirculacion" value="Bike" checked>
			<label for="TdeCirculacion"> Tarjeta de circulación </label><br>

			<input type="checkbox" id="Factura" name="Factura" value="Car">
			<label for="Factura"> Factura </label><br>

			<input type="checkbox" id="Pedimento" name="Pedimento" value="Boat">
			<label for="Pedimento"> Pedimento de importación </label><br>
			<br>

			<label for = "DomicilioDelPago">Lugar  o domicilio del pago: </label>
			<div>
				<textarea cols="50" rows="3" class =  "camponecesario" type = "text" name = "DomicilioDelPago" id = "DomicilioDelPago"></textarea>
			</div>
			<br>
			<label for = "Precio">Precio: </label>
						<input class =  "camponecesario" type = "text" name = "Precio" id = "Precio">
					<br>
			<label for = "PrecioLetra">Precio en letra: </label>
						<input class =  "camponecesario" type = "text" name = "PrecioLetra" id = "PrecioLetra">
					<br>

			<label class =  "camponecesario" >Metodo de pago: </label>
				<input type="radio" name="MetodoPago" id="Metodo-Pago-Efectivo" value="Efectivo" checked>
				<label for="Metodo-Pago-Efectivo"> Efectivo </label>

				<input type="radio" name="MetodoPago" id="Metodo-Pago-Cheque" value="Cheque">
				<label for="Metodo-Pago-Cheque"> Cheque </label>

				<input type="radio" name="MetodoPago" id="Metodo-Pago-Otro" value="">
				<label for="Metodo-Pago-Otro"> Otro </label>

			<div class = "otro-Metodo-Pago"> 
				<label for = "otroMetodoPago">Metodo utilizado: </label>
				<input class =  "camponecesario" type = "text" name = "otroMetodoPago" id = "otroMetodoPago">
			</div>
			<br>
		</div>
	</section>

	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
	<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->

		<br>
		<div class="row text-center d-flex justify-content-center">
			<button class = "Prev btn btn-warning btn-lg mx-2" type = "button" value = "Prev"><i class="fas fa-arrow-left"></i> Anterior</button>
			<button class = "Next btn btn-success btn-lg" type = "button" value = "Next">Siguiente <i class="fas fa-arrow-right"></i></button>
			<button class = "Nuevo btn btn-info btn-lg" type = "button" value = "Nuevo"><i class="fas fa-plus"></i> Nuevo contrato</button>
			<button class = "Generar btn btn-danger btn-lg" type = "submit" value = "Generar PDF"><i class="fas fa-file-pdf"></i> Generar PDF</button>
			
		</div>
		<hr>
	</form>
	</section>

	<!-- Vista previa -->
	<section class = "PDFsection">
		<div class="scrollable previa">
			<div class="split right">

				<!--<form action="/descargar" method="POST">
				<input type="submit" value=" Descargar PDF "></input>-->
				</form>
			<div>
			<!-- <h5 class="p1">Vista Previa</h5> -->
			<h2 class = "previa">Ultimo contrato generado       </h2>
		<embed class="p1" id="vistaPrevia" src="/static/pdf/Contrato.pdf" type="application/pdf" width="635" height="750" />
		</div>
	</section>

	</div>

	</div>


	<!-- Vista previa -->
	<section class = "VistaPrevia">
	<div class="scrollable">
		<div class="split right">
					<div class="centered">
						<h2>CONTRATO  DE  COMPRAVENTA</h2>
					</div>
					<div class="previa">
						<p id = "primerParrafo"></p>
					</div>
					<br>

					<div class="centered">
						<h3>D E C L A R A C I O N E S</h3>
					</div>
					<div class="previa">
						<p id = "PrimerDeclaracion"></p><br>
						<p id = "SegundaDeclaracion"></p><br>
						<p id = "TercerDeclaracion"></p><br>
					</div>
					<div class="centered">
						<h3>C L Á U S U L A S </h3>
					</div>
					<br>
					<div class="previa">
						<p id = "PrimerClausula"></p>
						<p id = "SegundaClausula"></p>
						<p id = "TercerClausula"></p>
						<p id = "CuartaClausula"></p>
						<p id = "QuintaClausula"></p>
						<ul>
							<li id = "QC1"></li>
							<li id = "QC2"></li>
						</ul>

						<p id = "UltimoParrafo"></p>
					</div>


			</div>
		</div>
	</section>
	<section class = "pag0">

	</section>

</div>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9%22%3E"> </script>


<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->

<!-- AQUÍ EMPIEZAN LOS SCRIPTS  -->
<script>	
		console.log('Si jalo el js');
	// OCULTAR PARTES 2 Y 3 //
document.getElementsByClassName('parte1')[0].style.display  =  'none';
document.getElementsByClassName('parte2')[0].style.display  =  'none';
document.getElementsByClassName('parte3')[0].style.display  =  'none';
//document.getElementsByClassName('PDFsection')[0].style.display  =  'none';
document.getElementsByClassName('VistaPrevia')[0].style.display  =  'none';



var ParteActual = 1;

var NumVendedores = 1;
var Vendedor1 = 'f';
var Vendedor2 = 'f';
var Vendedor3 = 'f';
var Vendedor4 = 'f';

var NumCompradores = 1;
var comprador1 = 'f';
var comprador2 = 'f';
var comprador3 = 'f';
var comprador4 = 'f';

var listo = false;

	//////////////////////////////////////// VENDEDORES ////////////////////////////////////////
const nvendedores = document.querySelector('#cantidad-de-vendedores')
const TipoDeVendedor1 = document.querySelector('#tipo-de-persona-vendedor1')
const TipoDeVendedor2 = document.querySelector('#tipo-de-persona-vendedor2')

document.getElementsByClassName('vendedor2')[0].style.display  =  'none';
document.getElementsByClassName('VM1')[0].style.display  =  'none';
document.getElementsByClassName('VM2')[0].style.display  =  'none';

FunNV();
FunTV1();
FunTV2();

nvendedores.onclick = function(){
//
	FunNV();
}

TipoDeVendedor1.onclick = function(){
//
	FunTV1();
}

TipoDeVendedor2.onclick = function(){
//
	FunTV2();
}

function FunNV (){
	console.log(nvendedores.value);
	if (nvendedores.value == 1){
		NumVendedores = 1;
		document.getElementsByClassName('vendedor1')[0].style.display  =  'inline';
		document.getElementsByClassName('vendedor2')[0].style.display  =  'none';
	}

	if (nvendedores.value == 2){
		NumVendedores = 2;
		document.getElementsByClassName('vendedor1')[0].style.display  =  'inline';
		document.getElementsByClassName('vendedor2')[0].style.display  =  'inline';
	}
}

function FunTV1 (){
	console.log(TipoDeVendedor1.value);
	if (TipoDeVendedor1.value === 'moral'){
		Vendedor1 = 'm';
		document.getElementsByClassName('VM1')[0].style.display  =  'inline';
		document.getElementsByClassName('VF1')[0].style.display  =  'none';
	}
	if (TipoDeVendedor1.value === 'fisica'){
		Vendedor1 = 'f';
		document.getElementsByClassName('VM1')[0].style.display  =  'none';
		document.getElementsByClassName('VF1')[0].style.display  =  'inline';
	}
}

function FunTV2 (){
	console.log(TipoDeVendedor2.value);
	if (TipoDeVendedor2.value === 'moral'){
		Vendedor2 = 'm';
		document.getElementsByClassName('VM2')[0].style.display  =  'inline';
		document.getElementsByClassName('VF2')[0].style.display  =  'none';
	}
	if (TipoDeVendedor2.value === 'fisica'){
		Vendedor2 = 'f';
		document.getElementsByClassName('VM2')[0].style.display  =  'none';
		document.getElementsByClassName('VF2')[0].style.display  =  'inline';
	}
}

	//////////////////////////////////////// COMPRADORES ////////////////////////////////////////
const ncompradores = document.querySelector('#cantidad-de-compradores')
const TipoDeComprador1 = document.querySelector('#tipo-de-persona-comprador1')
const TipoDeComprador2 = document.querySelector('#tipo-de-persona-comprador2')

document.getElementsByClassName('comprador2')[0].style.display  =  'none';
document.getElementsByClassName('CM1')[0].style.display  =  'none';
document.getElementsByClassName('CM2')[0].style.display  =  'none';
FunNcomprador();
FunTC1();
FunTC2();
ncompradores.onclick = function(){
	FunNcomprador();
}

TipoDeComprador1.onclick = function(){
	FunTC1();
}

TipoDeComprador2.onclick = function(){
	FunTC2();
}

function FunNcomprador(){
	console.log(ncompradores.value);
	if (ncompradores.value == 1){
		NumCompradores = 1;
		document.getElementsByClassName('comprador1')[0].style.display  =  'inline';
		document.getElementsByClassName('comprador2')[0].style.display  =  'none';
	}
	if (ncompradores.value == 2){
		NumCompradores = 2;
		document.getElementsByClassName('comprador1')[0].style.display  =  'inline';
		document.getElementsByClassName('comprador2')[0].style.display  =  'inline';
	}
}

function FunTC1(){
	console.log(TipoDeComprador1.value);
	if (TipoDeComprador1.value === 'moral'){
		comprador1 = 'm';
		document.getElementsByClassName('CM1')[0].style.display  =  'inline';
		document.getElementsByClassName('CF1')[0].style.display  =  'none';
	}
	if (TipoDeComprador1.value === 'fisica'){
		comprador1 = 'f';
		document.getElementsByClassName('CM1')[0].style.display  =  'none';
		document.getElementsByClassName('CF1')[0].style.display  =  'inline';
	}
}

function FunTC2(){
	console.log(TipoDeComprador1.value);
	if (TipoDeComprador2.value === 'moral'){
		comprador2 = 'm';
		document.getElementsByClassName('CM2')[0].style.display  =  'inline';
		document.getElementsByClassName('CF2')[0].style.display  =  'none';
	}
	if (TipoDeComprador2.value === 'fisica'){
		comprador2 = 'f';
		document.getElementsByClassName('CM2')[0].style.display  =  'none';
		document.getElementsByClassName('CF2')[0].style.display  =  'inline';
	}
}
////////////////////////////////////////  ////////////////////////////////////////


const section = document.querySelector('.campos')
//section.remove();
const camponec = document.querySelectorAll('.camponecesario')
//camponec.forEach((camponec) => camponec.style.background = 'red');


		//	//	//	//						//	//	//	//
		//	//	//	//// Captura de datos ////	//	//	//
		//	//	//	//						//	//	//	//

const estado = document.querySelector('#estado')
const municipio = document.querySelector('#municipio')
const fecha = document.querySelector('#fecha')


	//Vendedor fisico 1
const VF1nomb = document.querySelector('#VF1-nombre')
const VF1Sex = document.querySelector('#VF1-m')
const VF1Direccion = document.querySelector('#VF1Direccion')
	//Vendedor fisico 2
const VF2nomb = document.querySelector('#VF2-nombre')
const VF2Sex = document.querySelector('#VF2-m')
const VF2Direccion = document.querySelector('#VF2Direccion')
	// Vendedor moral 1
const VM1nomb = document.querySelector('#VM1-nombre')
const VM1escritura = document.querySelector('#VM1-escritura')
const VM1num = document.querySelector('#VM1-numero')
const VM1fecha = document.querySelector('#VM1-fecha')
var fechaVM1 =  new Date(VM1fecha.value)
const VM1nombRep = document.querySelector('#VM1-nombre-representante')
const VM1Direccion = document.querySelector('#VM1Direccion')
	// Vendedor moral 2
const VM2nomb = document.querySelector('#VM2-nombre')
const VM2escritura = document.querySelector('#VM2-escritura')
const VM2num = document.querySelector('#VM2-numero')
const VM2fecha = document.querySelector('#VM2-fecha')
var fechaVM2 =  new Date(VM2fecha.value)
const VM2nombRep = document.querySelector('#VM2-nombre-representante')
const VM2Direccion = document.querySelector('#VM2Direccion')

	//Comprador fisico 1
const CF1nomb = document.querySelector('#CF1-nombre')
const CF1Sex = document.querySelector('#CF1-m')
const CF1Direccion = document.querySelector('#CF1Direccion')
	//Comprador fisico 2
const CF2nomb = document.querySelector('#CF2-nombre')
const CF2Sex = document.querySelector('#CF2-m')
const CF2Direccion = document.querySelector('#CF2Direccion')
	// Comprador moral 1
const CM1nomb = document.querySelector('#CM1-nombre')
const CM1escritura = document.querySelector('#CM1-escritura')
const CM1num = document.querySelector('#CM1-numero')
const CM1fecha = document.querySelector('#CM1-fecha')
var fechaCM1 =  new Date(CM1fecha.value)
const CM1nombRep = document.querySelector('#CM1-nombre-representante')
const CM1Direccion = document.querySelector('#CM1Direccion')
	// Comprador moral 2
const CM2nomb = document.querySelector('#CM2-nombre')
const CM2escritura = document.querySelector('#CM2-escritura')
const CM2num = document.querySelector('#CM2-numero')
const CM2fecha = document.querySelector('#CM2-fecha')
var fechaCM2 =  new Date(CM2fecha.value)
const CM2nombRep = document.querySelector('#CM2-nombre-representante')
const CM2Direccion = document.querySelector('#CM2Direccion')

	//Datos del objeto (parte 2)
const TipoDeObjeto = document.querySelector('#Tipo-de-objeto')
const VehiculoTipo = document.querySelector('#Vehiculo-Tipo')
const VehiculoMarca = document.querySelector('#VehiculoMarca')
const VehiculoModelo = document.querySelector('#VehiculoModelo')
const IDVeicular = document.querySelector('#Numero-ID-Veicular')
const PlacasDeCirculacion = document.querySelector('#Placas-de-circulacion')
const VehiculoDescripcion = document.querySelector('#VehiculoDescripcion')
const VehiculoAdquiridoDe = document.querySelector('#VehiculoAdquiridoDe')
const FechaAdquirido = document.querySelector('#fechaAdquirido')
var fechaadquirido =  new Date(FechaAdquirido.value)

	//Datos de la venta (parte 3)
const TarjetaDeCirculacion = document.querySelector('#TdeCirculacion')
const Factura = document.querySelector('#Factura')
const Pedimento = document.querySelector('#Pedimento')

const DomicilioDelPago = document.querySelector('#DomicilioDelPago')
const Precio = document.querySelector('#Precio')
const PrecioLetra = document.querySelector('#PrecioLetra')

const MetodoEfectivo = document.querySelector('#Metodo-Pago-Efectivo')
const MetodoCheque = document.querySelector('#Metodo-Pago-Cheque')
const MetodoOtro = document.querySelector('#Metodo-Pago-Otro')
const OtroMetododoPago = document.querySelector('#otroMetodoPago')
const OtroMetododoPagodiv = document.getElementsByClassName('otro-Metodo-Pago')
FunShoworHideOtro();

// Asignar la parte que usaremos para actualizar el texto (esta al final del HTML) y las instrucciones (al inicio)
const instrucciones = document.querySelector('#instrucciones')

const primerParrafo = document.querySelector('#primerParrafo')

const PrimerDeclaracion = document.querySelector('#PrimerDeclaracion')
const SegundaDeclaracion = document.querySelector('#SegundaDeclaracion')
const TercerDeclaracion = document.querySelector('#TercerDeclaracion')

const PrimerClausula = document.querySelector('#PrimerClausula')
const SegundaClausula = document.querySelector('#SegundaClausula')
const TercerClausula = document.querySelector('#TercerClausula')
const CuartaClausula = document.querySelector('#CuartaClausula')
const QuintaClausula = document.querySelector('#QuintaClausula')
const QC1 = document.querySelector('#QC1')
const QC2 = document.querySelector('#QC2')
const UltimoParrafo = document.querySelector('#UltimoParrafo')


///////
//var date1 =  new Date(fecha.value)
/*fecha1 = fecha.value;
var fecha1Letra = "test " + fecha1.getDay() + " de " + month_name(fecha1) + " del " + fecha1.getFullYear();

console.log(fecha1Letra);
console.log("test " + date1.getDay() + " de " + month_name(date1) + " del " + date1.getFullYear());
///////*/

fecha.addEventListener('submit', onSubmit);


const prev = document.querySelector('.Prev')
prev.style.display  =  'none';

const next = document.querySelector('.Next')
next.style.display  =  'none';

const nuevo = document.querySelector('.Nuevo')

const generar = document.querySelector('.Generar')
generar.style.display  =  'none';


 function FunActualizaInstrunciones(){
	instrucciones.innerHTML = "";
	if (ParteActual === 0){
		instrucciones.innerHTML = "";
	}
	else if (ParteActual === 1){
		instrucciones.innerHTML = "Ingresa la información de los compradores y vendedores involucrados.";
	}
	else if (ParteActual === 2){
		instrucciones.innerHTML = "Ingresa la información del objeto de venta.";
	}
	else if (ParteActual === 3){
		instrucciones.innerHTML = "Ingresa los detalles de la transacción.";
	}
	else if (ParteActual === 4){
		instrucciones.innerHTML = "Revisa que los datos ingresados sean correctos. Despues da click en generar PDF.";
	}
}
FunActualizaInstrunciones();
MetodoEfectivo.onclick = function(){
	FunShoworHideOtro();
}
MetodoCheque.onclick = function(){
	FunShoworHideOtro();
}
MetodoOtro.onclick = function(){
	FunShoworHideOtro();
}

function FunShoworHideOtro(){
	if (MetodoOtro.checked){
		OtroMetododoPagodiv[0].style.display  =  'inline';
	}
	else{
		OtroMetododoPagodiv[0].style.display  =  'none';
	}
}

nuevo.onclick = function(){
	document.getElementsByClassName('parte1')[0].style.display  =  'inline';
	document.getElementsByClassName('VistaPrevia')[0].style.display  =  'inline';
	document.getElementsByClassName('PDFsection')[0].style.display  =  'none';
	ParteActual = 1;
	next.style.display = 'inline';
	prev.style.display = 'inline';
	nuevo.style.display  =  'none';
	FunActualizaInstrunciones();
}

	//	// BOTON NEXT //	//

next.onclick = function(){
	if (ParteActual === 1){ //Si es la primera parte revisar que los campos tengan informacion
		listo = true;
		if(fecha.value === '') {
		listo = false;
		fecha.style.background = 'pink';
		console.log('algomas');
		}else{fecha.style.background = 'white';}

		// Validar vendedores
		if (Vendedor1 === 'm'){ //
		if(VM1Direccion.value === '') {
			listo = false;
			VM1Direccion.style.background = 'pink';
			console.log('VM1Direccion');
			}else{VM1Direccion.style.background = 'white';}

			if(VM1nomb.value === '') {
			listo = false;
			VM1nomb.style.background = 'pink';
			console.log('VM1nomb');
			}else{VM1nomb.style.background = 'white';}

			if(VM1num.value === '') {
			listo = false;
			VM1num.style.background = 'pink';
			console.log('VM1num');
			}else{VM1num.style.background = 'white';}

			if(VM1fecha.value === '') {
			listo = false;
			VM1fecha.style.background = 'pink';
			console.log('VM1fecha');
			}else{VM1fecha.style.background = 'white';}

			if(VM1nombRep.value === '') {
			listo = false;
			VM1nombRep.style.background = 'pink';
			console.log('algomas');
			}else{VM1nombRep.style.background = 'white';}
		}
		else if(Vendedor1 === 'f'){
			if(VF1nomb.value === '') {
			listo = false;
			VF1nomb.style.background = 'pink';
			console.log('VM1nombRep');
			}else{VF1nomb.style.background = 'white';}

			if(VF1Direccion.value === '') {
			listo = false;
			VF1Direccion.style.background = 'pink';
			console.log('VF1Direccion');
			}else{VF1Direccion.style.background = 'white';}
		}
		// segundo vendedor
		if (NumVendedores === 2){
			if (Vendedor2 === 'm'){ //
				if(VM2nomb.value === '') {
				listo = false;
				VM2nomb.style.background = 'pink';
				console.log('VM2nomb');
				}else{VM2nomb.style.background = 'white';}

				if(VM2num.value === '') {
				listo = false;
				VM2num.style.background = 'pink';
				console.log('VM2num');
				}else{VM2num.style.background = 'white';}

				if(VM2fecha.value === '') {
				listo = false;
				VM2fecha.style.background = 'pink';
				console.log('VM2fecha');
				}else{VM2fecha.style.background = 'white';}

				if(VM2nombRep.value === '') {
				listo = false;
				VM2nombRep.style.background = 'pink';
				console.log('VM2nombRep');
				}else{VM2nombRep.style.background = 'white';}

				if(VM2Direccion.value === '') {
				listo = false;
				VM2Direccion.style.background = 'pink';
				console.log('VM2Direccion');
				}else{VM2Direccion.style.background = 'white';}

			}
			else if(Vendedor2 === 'f'){
				if(VF2nomb.value === '') {
				listo = false;
				VF2nomb.style.background = 'pink';
				console.log('VF2nomb');
				}else{VF2nomb.style.background = 'white';}

				if(VF2Direccion.value === '') {
				listo = false;
				VF2Direccion.style.background = 'pink';
				console.log('VF2Direccion');
				}else{VF2Direccion.style.background = 'white';}
			}
		}

		// Validar compradores
		if (comprador1 === 'm'){ //
			if(CM1nomb.value === '') {
			listo = false;
			CM1nomb.style.background = 'pink';
			console.log('CM1nomb');
			}else{CM1nomb.style.background = 'white';}

			if(CM1num.value === '') {
			listo = false;
			CM1num.style.background = 'pink';
			console.log('CM1num');
			}else{CM1num.style.background = 'white';}

			if(CM1fecha.value === '') {
			listo = false;
			CM1fecha.style.background = 'pink';
			console.log('CM1fecha');
			}else{CM1fecha.style.background = 'white';}

			if(CM1nombRep.value === '') {
			listo = false;
			CM1nombRep.style.background = 'pink';
			console.log('CM1nombRep');
			}else{CM1nombRep.style.background = 'white';}

			if(CM1Direccion.value === '') {
				listo = false;
				CM1Direccion.style.background = 'pink';
				console.log('CM1Direccion');
				}else{CM1Direccion.style.background = 'white';}

		}
		else if(comprador1 === 'f'){
			if(CF1nomb.value === '') {
			listo = false;
			CF1nomb.style.background = 'pink';
			console.log('CF1nomb');
			}else{CF1nomb.style.background = 'white';}

			if(CF1Direccion.value === '') {
				listo = false;
				CF1Direccion.style.background = 'pink';
				console.log('CF1Direccion');
				}else{CF1Direccion.style.background = 'white';}
		}
		// segundo comprador
		if (NumCompradores === 2){
			if (comprador2 === 'm'){ //
				if(CM2nomb.value === '') {
				listo = false;
				CM2nomb.style.background = 'pink';
				console.log('CM2nomb');
				}else{CM2nomb.style.background = 'white';}

				if(CM2num.value === '') {
				listo = false;
				CM2num.style.background = 'pink';
				console.log('CM2num');
				}else{CM2num.style.background = 'white';}

				if(CM2fecha.value === '') {
				listo = false;
				CM2fecha.style.background = 'pink';
				console.log('CM2fecha');
				}else{CM2fecha.style.background = 'white';}

				if(CM2nombRep.value === '') {
				listo = false;
				CM2nombRep.style.background = 'pink';
				console.log('CM2nombRep');
				}else{CM2nombRep.style.background = 'white';}

				if(CM2Direccion.value === '') {
				listo = false;
				CM2Direccion.style.background = 'pink';
				console.log('CM2Direccion');
				}else{CM2Direccion.style.background = 'white';}
			}
			else if(comprador2 === 'f'){
				if(CF2nomb.value === '') {
				listo = false;
				CF2nomb.style.background = 'pink';
				console.log('CF2nomb');
				}else{CF2nomb.style.background = 'white';}

				if(CF2Direccion.value === '') {
				listo = false;
				CF2Direccion.style.background = 'pink';
				console.log('CF2Direccion');
				}else{CF2Direccion.style.background = 'white';}
			}
		}

		if (listo === true){ //Si todo va correctamente ir a la siguiente seccion
			ParteActual = 2;
			prev.style.display  =  'inline';
			document.getElementsByClassName('parte1')[0].style.display  =  'none';
			document.getElementsByClassName('parte2')[0].style.display  =  'inline';
		}
	} //Fin de acciones para parte 1

	else if (ParteActual === 2){
		listo = true;

		if(TipoDeObjeto.value === '') {
			listo = false;
			TipoDeObjeto.style.background = 'pink';
			console.log('TipoDeObjeto');
		}else{TipoDeObjeto.style.background = 'white';}

		if(VehiculoTipo.value === '') {
			listo = false;
			VehiculoTipo.style.background = 'pink';
			console.log('VehiculoTipo');
		}else{VehiculoTipo.style.background = 'white';}

		if(VehiculoMarca.value === '') {
			listo = false;
			VehiculoMarca.style.background = 'pink';
			console.log('VehiculoMarca');
		}else{VehiculoMarca.style.background = 'white';}

		if(VehiculoModelo.value === '') {
			listo = false;
			VehiculoModelo.style.background = 'pink';
			console.log('VehiculoModelo');
		}else{VehiculoModelo.style.background = 'white';}

		if(IDVeicular.value === '') {
			listo = false;
			IDVeicular.style.background = 'pink';
			console.log('IDVeicular');
		}else{IDVeicular.style.background = 'white';}

		if(PlacasDeCirculacion.value === '') {
			listo = false;
			PlacasDeCirculacion.style.background = 'pink';
			console.log('PlacasDeCirculacion');
		}else{PlacasDeCirculacion.style.background = 'white';}

		if(VehiculoAdquiridoDe.value === '') {
			listo = false;
			VehiculoAdquiridoDe.style.background = 'pink';
			console.log('VehiculoAdquiridoDe');
		}else{VehiculoAdquiridoDe.style.background = 'white';}

		if(FechaAdquirido.value === '') {
			listo = false;
			FechaAdquirido.style.background = 'pink';
			console.log('FechaAdquirido');
		}else{FechaAdquirido.style.background = 'white';}

		if(VehiculoDescripcion.value === '') {
			listo = false;
			VehiculoDescripcion.style.background = 'pink';
			console.log('VehiculoDescripcion');
		}else{VehiculoDescripcion.style.background = 'white';}

		if (listo === true){
			ParteActual = 3;
			document.getElementsByClassName('parte2')[0].style.display  =  'none';
			document.getElementsByClassName('parte3')[0].style.display  =  'inline';
			FunShoworHideOtro();
		}
	} //Fin de acciones para parte 2

	else if (ParteActual === 3){
		listo = true;

		if(DomicilioDelPago.value === '') {
			listo = false;
			DomicilioDelPago.style.background = 'pink';
			console.log('DomicilioDelPago');
		}else{DomicilioDelPago.style.background = 'white';}

		if(Precio.value === '') {
			listo = false;
			Precio.style.background = 'pink';
			console.log('Precio');
		}else{Precio.style.background = 'white';}

		if(PrecioLetra.value === '') {
			listo = false;
			PrecioLetra.style.background = 'pink';
			console.log('PrecioLetra');
		}else{PrecioLetra.style.background = 'white';}

		if(OtroMetododoPago.value === '' && MetodoOtro.checked) {
			listo = false;
			OtroMetododoPago.style.background = 'pink';
			console.log('OtroMetododoPago');
		}else{OtroMetododoPago.style.background = 'white';}

		if (listo === true){
			ParteActual = 4;
			next.style.display  =  'none';
			generar.style.display  =  'inline';
			document.getElementsByClassName('parte3')[0].style.display  =  'none';
			//document.getElementsByClassName('VistaPrevia')[0].style.display  =  'none';
			//document.getElementsByClassName('PDFsection')[0].style.display  =  'inline';
		}
	}

	if (listo == true){// // // // // ACTUALIZAR LA VISTA PREVIA // // // //
	VF1nomb.value = VF1nomb.value.toUpperCase();
	VF2nomb.value = VF2nomb.value.toUpperCase();
	CF1nomb.value = CF1nomb.value.toUpperCase();
	CF2nomb.value = CF2nomb.value.toUpperCase();

	VM1nomb.value = VM1nomb.value.toUpperCase();
	VM2nomb.value = VM2nomb.value.toUpperCase();
	CM1nomb.value = CM1nomb.value.toUpperCase();
	CM2nomb.value = CM2nomb.value.toUpperCase();

	VM1nombRep.value = VM1nombRep.value.toUpperCase();
	VM2nombRep.value = VM2nombRep.value.toUpperCase();
	CM1nombRep.value = CM1nombRep.value.toUpperCase();
	CM2nombRep.value = CM2nombRep.value.toUpperCase();

	var fecha1 =  new Date(fecha.value)
	primerParrafo.innerHTML = "En " + municipio.value + ", " + estado.value + " el " + fecha1.getDate() + " de " + month_name(fecha1) + " del " + fecha1.getFullYear() //generico

		 console.log(VF1Sex.checked);
		if (Vendedor1 === 'f'){
			if(VF1Sex.checked){
				primerParrafo.innerHTML = primerParrafo.innerHTML + " por una parte en calidad de “VENDEDORA”, " + VF1nomb.value;
			}
			else{
				primerParrafo.innerHTML = primerParrafo.innerHTML + " por una parte en calidad de “VENDEDOR”, " + VF1nomb.value;
			}

		}
		else if (Vendedor1 === 'm'){
			primerParrafo.innerHTML = primerParrafo.innerHTML + " por una parte en calidad de “VENDEDORA”, " + VM1nomb.value +
			", representada por " + VM1nombRep.value;
		}

		if (NumVendedores === 2){ // Adaptar al numero de vendedores
			if (Vendedor2 === 'f'){
				if(VF2Sex.checked){
					primerParrafo.innerHTML = primerParrafo.innerHTML + " junto con la vendedora " + VF2nomb.value;
				}
				else{
					primerParrafo.innerHTML = primerParrafo.innerHTML + " junto con el vendedor " + VF2nomb.value;
				}
			}
			else if (Vendedor2 === 'm'){
				primerParrafo.innerHTML = primerParrafo.innerHTML + " junto con " + VM2nomb.value + ", representada por " +
				VM2nombRep.value;
			}
		}
			//
			// //
		if (comprador1 === 'f'){
			if(CF1Sex.checked){
					primerParrafo.innerHTML = primerParrafo.innerHTML + ", y por la otra como la “COMPRADORA”, " + CF1nomb.value;
				}
				else{
					primerParrafo.innerHTML = primerParrafo.innerHTML + ", y por la otra como “COMPRADOR”, " + CF1nomb.value;
				}
		}
		else if (comprador1 === 'm'){
			primerParrafo.innerHTML = primerParrafo.innerHTML + ", y por la otra como la “COMPRADORA”, " + CM1nomb.value + ", representada por " +
			CM1nombRep.value;
		}

		if (NumCompradores === 2){
			if (comprador2 === 'f'){
				if(CF2Sex.checked){
					primerParrafo.innerHTML = primerParrafo.innerHTML + ", junto con la compradora " + CF2nomb.value;
				}
				else{
					primerParrafo.innerHTML = primerParrafo.innerHTML + ", junto con el comprador " + CF2nomb.value;
				}

			}
			else if (comprador2 === 'm'){
				primerParrafo.innerHTML = primerParrafo.innerHTML + ", junto con " + CM2nomb.value + ", representada por " + CM2nombRep.value;
			}
		}
		primerParrafo.innerHTML = primerParrafo.innerHTML + ", convienen celebrar un contrato de compraventa al tenor de las siguientes declaraciones y clausulas:";
		PrimerDeclaracion.innerHTML = "I.- Declara el “VENDEDOR” ser el legítimo propietario de un ";
		SegundaDeclaracion.innerHTML = "";
		TercerDeclaracion.innerHTML = "";

		if (ParteActual === 3 || ParteActual === 4 ){
			PrimerDeclaracion.innerHTML = "I.- Declara el “VENDEDOR” ser el legítimo propietario de un " + TipoDeObjeto.value +
			" tipo " + VehiculoTipo.value +
			", marca " + VehiculoMarca.value +
			", modelo " + VehiculoModelo.value +
			", placas de circulación nacionales " + PlacasDeCirculacion.value +
			" " + VehiculoDescripcion.value +
			" mismo que adquirió de " + VehiculoAdquiridoDe.value +
			" el " + FechaAdquirido.value;

			if (comprador1 === 'm'){
				console.log('Si ');
				SegundaDeclaracion.innerHTML = " II.- Declara la “COMPRADORA” que " + CM1nomb.value;

			if (CM1escritura.checked){
				SegundaDeclaracion.innerHTML = SegundaDeclaracion.innerHTML + ", es una sociedad mexicana constituida mediante escritura pública número " + CM1num.value;
			}
			else {
				SegundaDeclaracion.innerHTML = SegundaDeclaracion.innerHTML + ", es una sociedad mexicana constituida mediante poliza número " + CM1num.value;
			}
			SegundaDeclaracion.innerHTML = SegundaDeclaracion.innerHTML + ", de fecha " + CM1fecha.value +
				", inscrita bajo bajo número único del documento "+ CM1num.value +
				", de fecha " + CM1fecha.value + ", del Registro Público de Comercio, con Registro Federal de Causantes IFR171212R67, y con domicilio en calle Jalapa número 11, interior 1, colonia Neidhart, Tijuana, Baja California ";
			}

			TercerDeclaracion.innerHTML = "II.- Declaran “VENDEDOR” y “COMPRADOR” que es su libre voluntad celebrar un contrato de compraventa respecto el bien mueble antes descrito para. Expuesto lo anterior, sobre la base de lo dispuesto por los numerales 6 y 2122 al 2190 del Código Civil vigente en el Estado de Baja California, las partes, establecen las siguientes:";

			PrimerClausula.innerHTML = "PRIMERA.- OBJETO.- La “VENDEDORA” entrega y transmite la propiedad del mueble descrito en la declaración I a la “COMPRADORA”, y éste lo recibe de conformidad, en el domicilio ubicado en " ;

		} //PRIMERA.- OBJETO.- La “VENDEDORA” entrega y transmite la propiedad del mueble descrito en la declaración I a la “COMPRADORA”, y éste lo recibe de conformidad, en el domicilio ubicado en la calle
		if (ParteActual === 4){
			PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + " y en este acto se exhibe y entregan ";
			if (TarjetaDeCirculacion.checked && Factura.checked){
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + " originales de tarjeta de circulacion y factura a nombre de ";
			}
			else if(TarjetaDeCirculacion.checked){
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + " originales de tarjeta de circulacion a nombre de ";
			}
			else if(Factura.checked){
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + " factura a nombre de ";
			}
			if (Vendedor1 === 'm'){
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML +  VM1nomb.value;
			}
			else{
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + VF1nomb.value;
			}
			if (Pedimento.checked){
				PrimerDeclaracion.innerHTML = PrimerDeclaracion.innerHTML + ", así como original de pedimento de importación.";
			}

			PrimerClausula.innerHTML = PrimerClausula.innerHTML + DomicilioDelPago.value +". ";

			SegundaClausula.innerHTML = " SEGUNDA.- PRECIO.- El precio por la presente operación de compraventa es la cantidad de $" + Precio.value + " pesos (" + PrecioLetra.value +"), que en este acto entrega el “COMPRADOR” al “VENDEDOR”" ;

			if (MetodoEfectivo.checked){
				SegundaClausula.innerHTML = SegundaClausula.innerHTML + " al contado.";
			}
			else if (MetodoCheque.checked){
				SegundaClausula.innerHTML = SegundaClausula.innerHTML + " por medio de un cheque.";
			}
			else{ SegundaClausula.innerHTML = SegundaClausula.innerHTML + " por medio de " + OtroMetododoPago.value +".";}

			TercerClausula.innerHTML = "TERCERA.- RESPONSABILIDAD Y CAMBIO DE PROPIETARIO.- A partir de la firma del presente contrato y entrega del vehículo objeto de compraventa, el “COMPRADOR” libera de toda responsabilidad al “VENDEDOR”, comprometiéndose a que en un breve lapso, que no podrá ser mayor de 30 días hábiles, realizará los trámites correspondientes ante la dependencia de gobierno correspondiente para hacer el cambio de propietario, siendo a cargo del “COMPRADOR” el pago de todos los gastos y derechos que deben cubrirse para tal objeto.";

			CuartaClausula.innerHTML = "CUARTA.- INTERPRETACIÓN Y CUMPLIMIENTO.- Para la interpretación y cumplimiento de todo lo relacionado con el presente contrato, las partes se someten expresamente a las leyes y tribunales competentes de la ciudad de " +
			municipio.value + ", " + estado.value + ", por lo que renuncian a cualquier otra jurisdicción que por razón de su domicilio futuro les pudiera corresponder.";

			QuintaClausula.innerHTML = "QUINTA.- DOMICILIOS.- Para cualquier notificación judicial o extrajudicial con motivo de este contrato, las partes convienen en señalar como su domicilio, los siguientes: ";

			if (Vendedor1 === 'f'){
				QC1.innerHTML = "El “VENDEDOR”, " + VF1Direccion.value;
			}
			else{
				QC1.innerHTML = "El “VENDEDOR”, " + VM1Direccion.value;
			}

			if (comprador1 === 'f'){
				QC2.innerHTML = "El “COMPRADOR”, " + CF1Direccion.value;
			}
			else{
				QC2.innerHTML = "El “COMPRADOR”, " + CM1Direccion.value;
			}

			UltimoParrafo.innerHTML = "Leído que fue a las partes el presente contrato, anexando como apéndice los documentos mencionados en la declaración I, y copia simple de sus identificaciones oficiales, ante la presencia de dos testigos, proceden a firmar dos ejemplares del mismo.";
		}
	}
	else{swal("Algunos campos necesarios están vacíos", "Ingresa los campos marcados antes de continuar", "warning");}
	FunActualizaInstrunciones();
}

	//	// BOTON PREV //	//

prev.onclick = function(){
	if (ParteActual === 1){
			ParteActual = 0;

			document.getElementsByClassName('parte1')[0].style.display  =  'none';
			document.getElementsByClassName('parte2')[0].style.display  =  'none';
			document.getElementsByClassName('parte3')[0].style.display  =  'none';
			document.getElementsByClassName('PDFsection')[0].style.display  =  'inline';
			document.getElementsByClassName('VistaPrevia')[0].style.display  =  'none';
			next.style.display  =  'none';
			prev.style.display  =  'none';
			nuevo.style.display  =  'inline';
	}
	else if (ParteActual === 2){
			ParteActual = 1;
			document.getElementsByClassName('parte2')[0].style.display  =  'none';
			document.getElementsByClassName('parte1')[0].style.display  =  'inline';
	}
	else if (ParteActual === 3){
			ParteActual = 2;
			document.getElementsByClassName('parte3')[0].style.display  =  'none';
			document.getElementsByClassName('parte2')[0].style.display  =  'inline';
	}
	else if (ParteActual === 4){
			ParteActual = 3;
			generar.style.display  =  'none';
			next.style.display  =  'inline';
			document.getElementsByClassName('VistaPrevia')[0].style.display  =  'inline';
			document.getElementsByClassName('parte3')[0].style.display  =  'inline';
			document.getElementsByClassName('PDFsection')[0].style.display  =  'none';
			FunShoworHideOtro();
	}
	FunActualizaInstrunciones();

}

//<p>En Tijuana, Baja California, el dos de abril de dos mil catorce, por una parte en calidad de “VENDEDORA”, MARIA GARCIA GARCÍA, y por la otra como la “COMPRADORA”, DISTRIBUIDORA FRONTERA S. A. DE C.V., representada por FRANCISCO PANTERA, convienen celebrar un contrato de compraventa al tenor de las siguientes declaraciones y cláusulas:
			//</p>
function onSubmit(e) {
  e.preventDefault();

  if(fecha.value === '') {
    // alert('Please enter all fields');
	console.log('algo');
  } else {
    // Create new list item with user
	console.log('otra');
    const li = document.createElement('li');

  }
}

console.log('Si jalo el jsjsjs');
function SoloLetras(e) {
      key = e.keyCode || e.which;
      teclado =  String.fromCharCode(key).toLowerCase();
      letras = " abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNPQRSTUVWXYZ";
      especiales ="8-37-38-46-164";
      tecladoEspecial = false;

      for (var i in especiales) {
        if (key == especiales[i]) {
          tecladoEspecial = true;
          break;
        }
      }

      if (letras.indexOf(teclado) == -1 && !tecladoEspecial){
        return false;
      }

    }
        function SoloNumeros(e) {
      key = e.keyCode || e.which;
      teclado = String.fromCharCode(key);
      numero = " 1234567890-()";
      especiales ="8-37-38-46";
      tecladoEspecial = false;

      for (var i in especiales) {
        if(key == especiales[i]){
          tecladoEspecial=true;
          break;
        }
      }

      if(numero.indexOf(teclado) == -1 && !tecladoEspecial){
        return false;
      }
    }

	$(function(){
    $('.Fecha1').popover({title: "Fecha de la compra", content: "Escoge la fecha en la cual se realizara la compra-venta", trigger: "hover"});
    $('.Ayuda').popover({title: "Municipio a escoger", content: "Escoge el municipio en el cual se realizara la compra-venta", trigger: "hover"});
    $('.TPersona').popover({title: "Persona moral-fisica", content: "Escoge el tipo de persona que es el vendedor", trigger: "hover"});
    $('.DVendedor').popover({title: "Direccion del vendedor", content: "Escribe la direccion del vendedor", trigger: "hover"});
    $('.CVarticulo').popover({title: "Compra-venta del articulo", content: "Escoge el articulo a comprar-vender", trigger: "hover"});
    $('.TAuto').popover({title: "Tipo de Automovil", content: "Escoge el tipo de Automovil en el cual se realizara la compra-venta", trigger: "hover"});
    $('.Adquirido').popover({title: "Adquirido de", content: "Escribe de donde se obtuvo el vehiculo a vender", trigger: "hover"});
    $('.Fadquirido').popover({title: "Fecha de adquisicion", content: "Escoge la fecha en la cual se adquirio el vehiculo de la compra-venta", trigger: "hover"});
  });
	

	 

var month_name = function(dt){
mlist = [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ];
  return mlist[dt.getMonth()];
};
console.log(month_name(new Date(fecha.value)));

console.log(new Date(fecha.value).getMonth());

var date1 =  new Date(fecha.value)

console.log(date1.getMonth());
console.log("test " + date1.getDay() + " de " + month_name(date1) + " del " + date1.getFullYear());























</script>
