<title>Products > profile</title>



<div class="container">
  <h3 class="text-center">Perfil de usuario</h3>

  <div class="card mx-auto" style="width:400px;background:rgba(250, 164, 114, 0.5);box-shadow:">
    <img class="card-img-top mx-auto mt-2" src="/static/img/awa_avatar.png" alt="Card image" style="width:50%;">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text text-white">
        <strong class="text-black-50 p-2 m-2">ID:</strong> {{user._id}}
        <br><strong class="text-black-50 p-2 m-2">email:</strong> {{user.local.email}}
        
         <br> <strong class="text-black-50 p-2 m-2">password:</strong> <code class="p-2 m-2">{{user.local.password}}</code>
      
      </p>
      <a href="/logout" class="btn btn-danger" style=" float: right ;">Cerrar Sesión</a>
    </div>
  </div>
  <br>
</div>