.navbar{  
	
	width: 100%;
	background: Salmon;
	background: radial-gradient(circle, rgb(255, 138, 125) 0%, rgb(255, 182, 98) 100%);
	box-shadow: 2px 1px 5px black ;
	height: 15%;
	padding-bottom: 16px;
}
  .nav-link:hover{
	font-size:xx-large;
	color:rgb(255, 255, 255);
	text-shadow:0px 1px 5px rgb(0, 0, 0);
  }
  .nav-link{
	font-size:x-large;
  }
  .navtext{
	color: white;
  }

  /* FOOTER */
  .footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:rgb(255, 182, 98);
	color: black;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	margin-top: 50px;
  }
  /*login y registro*/
.card-header{
	
}
.card-body{

	background-color:rgb(235, 235, 235);
	background-image:
	radial-gradient(circle at 100% 150%, rgb(235, 235, 235) 24%, white 24%, white 28%, rgb(235, 235, 235) 28%, rgb(235, 235, 235) 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, rgb(235, 235, 235) 24%, white 24%, white 28%, rgb(235, 235, 235) 28%, rgb(235, 235, 235) 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, rgb(235, 235, 235) 10%, rgb(235, 235, 235) 23%, white 23%, white 30%, rgb(235, 235, 235) 30%, rgb(235, 235, 235) 43%, white 43%, white 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 63%, white 63%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, rgb(235, 235, 235) 5%, rgb(235, 235, 235) 15%, white 15%, white 20%, rgb(235, 235, 235) 20%, rgb(235, 235, 235) 29%, white 29%, white 34%, rgb(235, 235, 235) 34%, rgb(235, 235, 235) 44%, white 44%, white 49%, transparent 49%, transparent),
	radial-gradient(circle at 0    50%, white 5%, rgb(235, 235, 235) 5%, rgb(235, 235, 235) 15%, white 15%, white 20%, rgb(235, 235, 235) 20%, rgb(235, 235, 235) 29%, white 29%, white 34%, rgb(235, 235, 235) 34%, rgb(235, 235, 235) 44%, white 44%, white 49%, transparent 49%, transparent);
	background-size: 100px 50px;
	
}
.card
{
	box-shadow: 1px 1px 3px rgb(255, 184, 71);
}